<!--
<h1>User Main Component </h1>

<pre>
{{users | json}}
</pre>
-->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>generacioOP</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width. initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/user.component.css">
  </head>

<!-- este paso solo ejecuta el codigo HTML de user-new.component.html y ejecuta un evento que crea un usuario -->
<app-user-new (createNewUserEvent)="create($event)"> </app-user-new>

<app-user-list [users]="users" (destroyUserEvent)="destroy($event)" (updateUserEvent)="update($event)" ></app-user-list>

<app-user-univ></app-user-univ>

</html>
